<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" preCondition="integratedMode" type="ServiceStack.HttpHandlerFactory, ServiceStack" 
           verb="*" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!--yunpian.com-->
    <add key ="SMSKEY" value="a008a36d57a372b6c3f559509eeec24b"/>
    <!--Error Message-->
    <add key="confirmation_code_mismatch" value="验证码不符" />
    <add key="general_error" value="参数错误" />
    <add key="duplicate_cellphone" value="电话号码已经被注册" />
    <add key ="volleykey" value ="验证码已发送"/>
    <add key="empty_token" value="Token Error: Token为空" />
  </appSettings>

  <connectionStrings>
    <add connectionString="Data Source=pcatsh.com;Initial Catalog=baiduo;Persist Security Info=True;User ID=baiduo;Password=?r3>4(7f" name="database" />
  </connectionStrings>
  
</configuration>